<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Braille Converter</title>
    <link rel="stylesheet" href="static\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mingzat&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" >
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mingzat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Finlandica&family=Merienda:wght@700&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="nav-top">
        <nav>
        <a class= " nav_link" href="index.html">Home</a>
        <a class= " nav_link" href="t2b.html">Text2braille</a>
        <a class= " nav_link" href="b2t.html">braille2text</a>
        <a class= " nav_link" href="handwritten.html">handwritten</a>
        <a class= " nav_link" href="Audio.html">Audiobook</a>
        <a class= " nav_link" href="contact.html">Contact us</a>
        <p id="logo">Braille Converter</p>
    </nav>
    </div>

    <div class="header">

       <p id="intro"> Braille Converter</p>

    </div>
    
    

<div class="wholecontainer">
    <!-----------------------------------------------------Container 1--------------------------------------------------------------->
    <div class="container1">
      <img class="pdf" src="image/pdf.png" alt="PDF File">
      <div class="con1">
        <h1>Text2Braille</h1>
        <p>Text to Braille allows to convert a pdf or an image file to braille script</p>
        <button onclick= "window.location='t2b.html';"  class="btn1" >Click here</button>
      </div>
      
    </div>

    <!-----------------------------------------------------Container 2--------------------------------------------------------------->
    <div class="container2">
        <img class="pdf" src="image/braille.png" alt="Braille Picture">
        <div class="con1">
            <h1>Braille2Text</h1>
            <p>Braille to Text allows to convert a braille script to an English text file.</p>
            <button  onclick= "window.location='b2t.html';" class="btn1"  >Click here</button>
        </div>
        
    </div>

    <!-----------------------------------------------------Container 3--------------------------------------------------------------->

    <div class="container3">
        <img class="pdf" src="image/handwriting.png" alt="Handwritten Picture">
        <div class="con1">
            <h1>Handwritten</h1>
            <p>Handwritten allows to convert the handwritten text into Braille script</p>
            <button onclick= "window.location='handwritten.html';"  class="btn1" >Click here</button>
        </div>
        
    </div>

    <!-----------------------------------------------------Container 4--------------------------------------------------------------->

    <div class="container4">
        <img class="pdf" src="image/audiobook.png" alt="Audiobook Picture">
        <div class="con1">
            <h1>Audiobook</h1>
            <p>Audiobook will provide the option for the user to narrate a story book </p>
            <button onclick= "window.location='Audio.html';" class="btn1" >Click here</button>  
        </div>
        
    </div>

    
</div>

 <!------------------------------------------Footer---------------------------------------------------------->  
<article>
        
        <footer>
            <p>© 2022 Braille Converter</p>
        </footer>
</article>
</body>
</html>